#newEmployeeForm .react-datepicker__day--selected {
    background-color: rgb(54, 203, 158);
}

#newEmployeeForm .react-datepicker__day--keyboard-selected {
    background-color: rgb(54, 203, 158);
}

#newEmployeeForm .react-datepicker {
    font-size: 10px;
    color: #666666;
    font-family: lato, Arial, Helvetica, sans-serif;
}
